<h2>My Super Powers: </h2>

<div>
  <table>
    <tr>
      <td>
        <label for="new-superpower">Superpower name: </label>
      </td>
      <td>
        <input for="new-superpower" type="text" [(ngModel)]="selectedSuperpower.name" placeholder="Superpower name" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="new-superpower">Superpower type: </label>
      </td>
      <td>
        <input for="new-superpower" [(ngModel)]="selectedSuperpower.type" placeholder="Superpower type" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="new-superpower">Overpowered superpower: </label>
      </td>
      <td>
        <input for="new-superpower" type="checkbox" [(ngModel)]="selectedSuperpower.isOverpowered"
          placeholder="true or false" />
      </td>
    </tr>
  </table>

  <button class="add-button"
    (click)="addSuperpower(selectedSuperpower); selectedSuperpower.name=''; selectedSuperpower.type=''; selectedSuperpower.isOverpowered=false">
    Add Superpower
  </button>

  <ul class="superpowers">
    <li *ngFor="let superpower of superpowers">
      <a routerLink="/spDetail/{{superpower.id}}">
        <span class="badge">{{superpower.id}}</span>{{superpower.name}}
      </a>
      <button class="delete" title="delete superpower" (click)="deleteSuperpower(superpower)">x</button>
    </li>
  </ul>