<button class="clear" (click)="goBack()">Back</button>
<div *ngIf="superpower">
    <h2>{{superpower.name | uppercase}} Details</h2>
    <div><span>id: </span>{{superpower.id}}</div>
    <div>
      <label for="superpower-name">Superpower name: </label>
      <input for="superpower-name" [(ngModel)]="superpower.name" placeholder="Superpower name"/>
    </div>
    <div>
      <label for="superpower-type">Superpower type: </label>
      <input for="superpower-type" [(ngModel)]="superpower.type" placeholder="Superpower type"/>
    </div>
    <div>
      <label for="superpower-overpowered">Overpowered superpower: </label>
      <input for="superpower-overpowered" [(ngModel)]="superpower.isOverpowered" value="superpower-overpowered"/>
    </div>
    <button (click)="save()">save</button>
  </div>